:root {
	--colour-primary: #cfd8dc;
	--colour-dark: #9ea7aa;
	--colour-light: #ffffff;
	--colour-background: #eceff1;
	--colour-accent: #ba68c8;
}

/* || General styles */
body {
	background: var(--colour-background);
	display: flex;
	flex-direction: column;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100vh;
	justify-content: center;
}

.img_wrap {
	/* Wrapper needed to add shadows above clip-path */
	width: 5vw;
}
img {
	clip-path: circle(50% at center);
	height: auto;
	width: 100%;
}
/* Make this a dynamic addition to show whose turn it is
.imgWrap:hover {
	filter: drop-shadow(0px 0px 5px var(--colour-accent));
}*/

button {
	background: var(--colour-primary);
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 1em;
	padding: 10px;
	opacity: 0.6;
	width: 49%;	
}

button:hover {
	opacity: 1.0;
}


/* || Container styles */
#main {
	border: 1px solid var(--colour-dark);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 10px;
	width: 33vw;	
}

#scoreboard {	
	align-items: center;
	border: 1px solid var(--colour-dark);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

#gameboard {
	display: grid;
	margin: 10px 0px;
	grid-gap: 2px;
	grid-template-columns: repeat(3, 1fr);
}

#controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* || Element styles */
#score {
	display: flex;
	flex-direction: row;
}
#score p {
	padding: 0px 5px;
}

.cell {
	background: var(--colour-light);
	border: 1px solid var(--colour-light);
	border-radius: 5px;
	padding-top: 100%;
}

.cell:hover {
	border: 1px solid var(--colour-dark);
	box-shadow: inset 0 0 5px var(--colour-dark);
}
